// Font
$font-family-sans-serif = "Open Sans", sans-serif

// Adjust navbar for logo
$navbar-height = 50px
$logo-height = 25px
$navbar-padding-vertical = ($navbar-height - 20) / 2
$brand-padding = ($navbar-height - $logo-height) / 2
